body{
    background-color: beige;
}

header {
    padding:20px;
    height:100px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode',serif;
    background-color: rgb(112, 114, 236);
    color: white;
}

header h1 {
    display: inline-block;
    font-size:40px;

}
header nav{
    padding-top: 70px;
    float:right;
    font-family: 'Times New Roman', Times, serif;
}
nav ul li a{
    margin:10px;
    color: white;
    text-decoration: none;
    font-size:30px;
}
header nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline-block;

}
li a:hover{
    background-color: bisque;
    color:black;
}
.aboutme{
    height:15%;
    width: 85%;
    padding:30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 35px;
    background:url(./3375468.jpg);
    overflow: hidden;
    border-radius: 40px;

}
.aboutme h2{
    display:block;
    font-size: 45px;
    color: white;

}